/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* белый #FFFFFF */
/* при наведении + лого #2196F3 */
/* кнопка #188CE8 */
/* футер (меил + тел) rgba(255, 255, 255, 0.6); */
/* background шапка + футер #2F303A */
/* background вторичный #F5F4FA */

:root {
    --primery-text-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --primery-button-color: #188CE8;
    --white-color: #ffffff;
    --black-color: #000000;
    --background-darkgray-color: #2F303A;
    --background-lightgray-color: #F5F4FA;
    --transparency-white-color:rgba(255, 255, 255, 0.6);

}


body {
    background: var(--white-color);
    color: var(--primery-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-header {
    color: var(--black-color);
}

.logo-footer {
    color: var(--white-color);
}

/* Навигация сайта */
.site-nav .link {
    color: var(--primery-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.contact-nav .link {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);
}

/* Шапка сайта */

.hero {
    background-color: var(--background-darkgray-color);
}

.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.section-title {
    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.hero-button {
    background-color: var(--primery-button-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.hero-button:hover, .hero-button:focus {
    background-color: var(--accent-color);
}

/* Особенности */

.features-title {
    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-text {
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.71;
}


/* Наша команда */

.team {
    background-color: var(--background-lightgray-color);
}

.team-name {
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.job-title {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}


/* Футер */

.footer {
    background-color: var(--background-darkgray-color);
}

.location {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.contact-footer .link {
    color: var(--transparency-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.contact-footer .link:hover, .contact-footer .link:focus {
    color: var(--accent-color);
}


/* Страница портфолио */

.button-filter {
    background-color: var(--background-lightgray-color);
    color: var(--primery-text-color);
    font-family: inherit;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.button-filter:hover, .button-filter:focus {
    background-color: var(--accent-color);
}

.filter .button-filter.current {
    background-color: var(--accent-color);
}

.examples-title {
    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.examples-text {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.88;
}